
*{
	padding: 0;
	margin:0 ;
	box-sizing: border-box;

}
.navigation{
	background-color: #ff1057;
	padding: 20px;
}
.nav-links{
	display: flex;
	justify-content: space-around;


}
.nav-links li{
	list-style: none;
}
.nav-links li a{
	text-decoration: none;
	color: #ffff;
}